@font-face {
  font-weight: 300;
  font-style: normal;
  font-family: "Gilroy";
  src: url("../fonts/gilroylight.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: "Gilroy";
  src: url("../fonts/gilroyregular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-weight: 600;
  font-style: normal;
  font-family: "Gilroy";
  src: url("../fonts/gilroysemibold.woff2") format("woff2");
  font-display: swap;
}

body {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-family: "Gilroy", "Helvetica", "Arial", sans-serif;
  font-size: 20px;
  line-height: 1.16;
  color: #ffffff;
  background-color: #181a31;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

/* ___container___ */

.container {
  width: 950px;
  margin: 0 auto;
}

/* ___page-header___ */

.page-header__link {
  font-weight: 600;
  font-size: 14px;
  line-height: 16.7px;
  color: #ffffff;
  text-decoration: none;
}

/* ___btn___ */

.btn {
  display: inline-block;
  margin: 0;
  padding: 15px 30px;
  border: 3px solid #36e1e5;
  border-radius: 7px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;

  font: inherit;
  font-weight: 600;
  font-size: 14px;
  line-height: 16.7px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}

/* ___hero___ */

.hero__lead {
  display: block;
  width: 445px;
  margin-bottom: 100px;
  font-weight: 300;
  font-size: 50px;
  line-height: 58px;
}

.hero-list {
  display: flex;
  flex-direction: row;

  margin: 0;
  padding: 0;
  list-style: none;
}

.hero-list li {
  width: 200px;
}

.hero-list li:not(:last-child) {
  margin-right: 60px;
}

/*___section-title___*/

.section-title {
  width: 470px;
  font-weight: 300;
  font-size: 40px;
  line-height: 46px;
}

/* ___features___ */

.features__title {
  margin-bottom: 100px;
}

.features-list {
  display: flex;
  flex-direction: row;

  margin: 0;
  padding: 0;
  list-style: none;
}

.features-list li:not(:last-child) {
  margin-right: 79px;
}

.feature {
  width: 106px;
  margin: 0;
  padding: 17px 79px 35px;
  text-align: center;
  background-image: linear-gradient(180deg, rgba(44, 52, 81, 0.7) 0%, rgba(44, 53, 82, 0.224) 100%);
  border-radius: 10px;
}

.feature__number {
  display: block;
  font-weight: bold;
  font-size: 100px;
  line-height: 120px;
  color: #36B1E5;
}

.feature__text {
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
}

/* ___solutions___ */

.solutions-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 200px;

  margin: 0;
  padding: 0;
  list-style: none;
}

.solutions-list li {
  margin-bottom: 25px;
}

/* ___page-footer___ */

.page-footer {
  text-align: center;
}
