@font-face {
  font-weight: 300;
  font-style: normal;
  font-family: "Gilroy";
  src: url("../fonts/gilroylight.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: "Gilroy";
  src: url("../fonts/gilroyregular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-weight: 600;
  font-style: normal;
  font-family: "Gilroy";
  src: url("../fonts/gilroysemibold.woff2") format("woff2");
  font-display: swap;
}

body {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-family: "Gilroy", "Helvetica", "Arial", sans-serif;
  font-size: 20px;
  line-height: 1.16;
  color: #ffffff;
  background-color: #181a31;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

/* ___container___ */

.container {
  width: 950px;
  margin: 0 auto;
}

/* ___page-header___ */

.page-header__link {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
  color: #ffffff;
  text-decoration: none;
}

/* ___btn___ */

.btn {
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  padding: 12px 27px;
  border: 3px solid #36e1e5;
  border-radius: 7px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;

  font: inherit;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}
/* ___ page-header ___ */

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1140px;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 68px;
}

.page-header__logo {
  margin-right: 410px;
}

.page-header__menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 150px;
  margin: 0;
  margin-right: 60px;
  padding: 0;
  list-style: none;
}

.lang-selector {
  max-width: 80px;
  margin-right: 35px;
}

.lang-selector__link {
  display: flex;
  align-items: center;
}

.lang-selector__link::before {
  content: "";
  display: block;
  width: 15px;
  height: 10px;
  margin-right: 10px;
  background-repeat: no-repeat;
  background-image: url("../img/dropdown-arrow.svg");
  background-position: center;
}

.lang-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* ___hero___ */

.hero {
  position: relative;
  padding-top: 115px;
  padding-bottom: 127px;
}

.hero .container {
  position: relative;
}

.hero__icon {
  position: absolute;
  top: -115px;
  right: 0;
  filter: drop-shadow(0 40px 100px #1f3962);
  -webkit-filter: drop-shadow(0 40px 100px #1f3962);
}

.hero__lead {
  display: block;
  width: 445px;
  margin-bottom: 100px;
  font-weight: 300;
  font-size: 50px;
  line-height: 58px;
}

.hero-list {
  display: flex;
  flex-direction: row;

  margin: 0;
  padding: 0;
  list-style: none;
}

.hero-list li {
  width: 200px;
}

.hero-list li:not(:last-child) {
  margin-right: 60px;
}

.scroll-button {
  position: absolute;
  bottom: -127px;
  display: block;
  width: 24px;
  height: 37px;
}

/*___section-title___*/

.section-title {
  width: 470px;
  font-weight: 300;
  font-size: 40px;
  line-height: 46px;
}

/* ___features___ */

.features__title {
  margin-bottom: 100px;
}

.features-list {
  display: flex;
  flex-direction: row;

  margin: 0;
  padding: 0;
  list-style: none;
}

.features-list li:not(:last-child) {
  margin-right: 79px;
}

.feature {
  width: 106px;
  margin: 0;
  padding: 17px 79px 35px;
  text-align: center;
  background-image: linear-gradient(180deg, rgba(44, 52, 81, 0.7) 0%, rgba(44, 53, 82, 0.224) 100%);
  border-radius: 10px;
}

.feature__number {
  display: block;
  font-weight: bold;
  font-size: 100px;
  line-height: 120px;
  color: #36B1E5;
}

.feature__text {
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
}

/* ___solutions___ */

.solutions-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 200px;

  margin: 0;
  padding: 0;
  list-style: none;
}

.solutions-list li {
  margin-bottom: 25px;
}

/* ___ contacts ___ */

.contacts__wrapper {
  display: flex;
}

.contacts-form {
  margin-right: 130px;
}

.contacts-form__field {
  margin-bottom: 25px;
}

.contacts-form__field:last-of-type {
  margin-bottom: 50px;
}

.contacts-form__field input {
  width: 458px;
  margin: 0;
  padding: 15px 0;
  border: none;
  border-bottom: 1px solid #ffffff;
  background: transparent;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #ffffff;
}


.contacts-form__field input::placeholder {
  opacity: 1;
}

.contacts__address {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
  line-height: 28px;
}

.contacts__link {
  display: block;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #ffffff;
  text-decoration: none;
}

.contacts__phone {
  margin-bottom: 35px;
}

.social-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 185px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-list li:not(:last-child) {
  margin-right: 15px;
}

.social-link {
  display: block;
  width: 35px;
  height: 35px;
  background-color: #fff;
}

/* ___page-footer___ */

.page-footer {
  text-align: center;
}
