@font-face {
  font-weight: 300;
  font-style: normal;
  font-family: "Gilroy";
  src: url("../fonts/gilroylight.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: "Gilroy";
  src: url("../fonts/gilroyregular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-weight: 600;
  font-style: normal;
  font-family: "Gilroy";
  src: url("../fonts/gilroysemibold.woff2") format("woff2");
  font-display: swap;
}

body {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-family: "Gilroy", "Helvetica", "Arial", sans-serif;
  font-size: 20px;
  line-height: 1.16;
  color: #ffffff;
  background-color: #2B324F;
}

/* ___page-header___ */

.page-header__link {
  font-weight: 600;
  font-size: 14px;
  line-height: 16.7px;
  color: #ffffff;
  text-decoration: none;
}

/* ___btn___ */

.btn {
  display: inline-block;
  margin: 0;
  padding: 15px 30px;
  border: 3px solid #36e1e5;
  border-radius: 7px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;

  font: inherit;
  font-weight: 600;
  font-size: 14px;
  line-height: 16.7px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}
